*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


p{
    font-size: 20px;
}


#investigacion{
    background-color: #CFF4FC;
}

#fundadora{
    background-color: #CFF4FC;
}

#educacion{
    background-color: cadetblue;

}

h1{
    text-align: center;
}

#proa{
     text-align: center
}


