*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 20px;
}


#investigacion{
    background-color: #CFF4FC;
}

#fundadora{
    background-color: #CFF4FC;
}

h1{
    text-align: center;
}

#proa{
     text-align: center
}


